.main-contenair {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    height: auto;
    margin: 10px auto;
    width: 80%;
    top: 230px;
}

.article1, .photo {
    border-radius: 20px;
    border: 2px solid white;
    margin: 10px auto;
    text-align: center;
    width: 35%;
    background-color: #00000094;
    padding: 10px;
    box-shadow:
        2.8px 2.8px 2.2px rgba(0, 0, 0, 0.062),
        6.7px 6.7px 5.3px rgba(0, 0, 0, 0.089),
        12.5px 12.5px 10px rgba(0, 0, 0, 0.11),
        22.3px 22.3px 17.9px rgba(0, 0, 0, 0.131),
        41.8px 41.8px 33.4px rgba(0, 0, 0, 0.158),
        100px 100px 80px rgba(0, 0, 0, 0.22);
}

.article1 h1 {
    font-family: Bebas Neue;
    margin: 20px 0;
    border-bottom: 1px solid white;
}

.text1 {
    font-family: Agdasima;
    color: #ffffff;
    font-size: 26px;
    margin-bottom: 10px;
}

.text1 p {
    font-size: 35px;
    margin-top: 60px;
}

.photo img {
    width: 500px;
    min-width: 200px;
}

footer {
    position: relative;
    bottom: -300px;
    width: 100%;
    color: #ffffff;
    text-align: center;
}